<%- include('template/cabecera', {tituloWeb: 'Panel de administración'}) %>
    <div class="container">
        <h1>CRUD Mongo</h1>
        <a class="btn btn-success btn-block my-4" href="/medallas/crearMedalla">Crear nueva Medalla</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Lider</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayMedallas.length > 0) { %>
                    <% arrayMedallas.forEach(medalla => { %>
                        <tr>
                            <th scope="row">
                                <%= medalla.id %>
                            </th>
                            <td>
                                <%= medalla.nombre %>
                            </td>
                            <td>
                                <%= medalla.lider %>
                            </td>
                            <td><a class="btn btn-warning btn-sm" href="medallas/<%= medalla.id %>">Editar/Eliminar</a></td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    <%- include('template/footer') %>